// custom SCSS (or CSS) goes here
.selectbox {
	cursor: pointer;
	outline:0;
	color: #FFFFFFFF;
	font-size: 12px;
	padding: 3px 10px;
	min-width: 128px;
	border-radius: 3px;
	border: 1px solid #D1D1D1FF;
	background-color: #000000FF;
}
.selectbox:hover, .selectbox:focus {
	background-color: #000000FF;
	color: #FFFFFFFF;
	border: 1px solid #FFFFFFFF;
}
.language-mermaid,
pre.mermaid,
div.mermaid {
  background: #31343f !important;
  padding: 1.5rem;
  border-radius: 6px;
}

.mermaid svg {
  background: transparent !important;
}