<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data> 
    <div class="wrapper">
      <p>{{ site.description | escape }}</p>
      <p>
        <a href="/imprint">Imprint</a><br/>
        <a href="/privacy">Privacy Policy</a>
      </p>
    </div>  
    <p>This project has received funding from the European Union’s Horizon Europe Programme, under Grant Agreement No°101080923.</p>
    <p><b>Legal notice:</b> Neither the European Commission nor any person acting on behalf of the Commission is responsible for the use, which might be made, of the following information. The views expressed in this report are those of the authors and do not necessarily reflect those of the European Commission.</p>
</footer>
<script>
function addIframe(div) {
  var iframe = document.createElement("iframe");
  iframe.setAttribute(
    "src",
    "https://www.youtube-nocookie.com/embed/" + div.dataset.id + "?autoplay=1&rel=0"
  );
  iframe.setAttribute("frameborder", "0");
  iframe.setAttribute("allowfullscreen", "1");
  iframe.setAttribute(
    "allow",
    "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  );
  div.parentNode.replaceChild(iframe, div);
}

function initYouTubeVideos() {
  var playerElements = document.getElementsByClassName("youtube-player");
  for (var n = 0; n < playerElements.length; n++) {
    var videoId = playerElements[n].dataset.id;
    var div = document.createElement("div");
    div.setAttribute("data-id", videoId);
    var thumbNode = document.createElement("img");
    thumbNode.src = "https://i.ytimg.com/vi/ID/hqdefault.jpg".replace(
      "ID",
      videoId
    );
    div.appendChild(thumbNode);
    var playButton = document.createElement("div");
    playButton.setAttribute("class", "play");
    div.appendChild(playButton);
    div.onclick = function () {
      addIframe(this);
    };
    playerElements[n].appendChild(div);
  }
}

document.addEventListener("DOMContentLoaded", initYouTubeVideos);
</script>