// custom SCSS (or CSS) goes here
.selectbox {
	cursor: pointer;
	outline:0;
	color: #333333;
	font-size: 12px;
	padding: 3px 10px;
	min-width: 128px;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	background-color: #ffffff;
}
.selectbox:hover, .selectbox:focus {
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #969696;
}